examples/02-java-basics/.metadata/.log
examples/02-java-basics/.metadata/.mylyn/.tasks.xml.zip
examples/02-java-basics/.metadata/.mylyn/tasks.xml.zip
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/.markers.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/.syncinfo.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/1.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/2807440805.index
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
examples/02-java-basics/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
examples/02-java-basics/.metadata/version.ini
examples/02-java-basics/.metadata/.mylyn/.tasks.xml.zip
examples/02-java-basics/.metadata/.mylyn/tasks.xml.zip
examples/02-java-basics/.metadata/.mylyn/.tasks.xml.zip
examples/02-java-basics/.metadata/.mylyn/tasks.xml.zip
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/1/00477b82a8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/1/608cb872a8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/28/d0eed4f3a1ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/2b/50867950b1ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/2b/b08ca2c4a8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/3/b06de114acea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/31/c0a68e7ba4ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/3d/00f68204b1ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/45/3049d6a0acea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/4a/70fe697f9fea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/4d/b011766ba9ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/4e/10b0ce84acea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/51/e04fda12a8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/54/f0961ff4a2ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/5a/207c3c67a8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/5a/208ecb43a3ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/5f/a005f43195ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/61/a00633659fea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/72/1072277ca9ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/73/303c9c81a9ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/7a/b07faefeb0ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/7c/e0b01dd8a7ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/83/90adfd4396ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/84/60822fe4b0ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/86/80d9044496ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/87/200b1a19a8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/88/c04e7a35acea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/88/e0d07577a9ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/9/e043b60cb1ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/91/f0ef165eb1ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/95/c00e42c5adea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/96/500f1e65b0ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/96/e057bcddacea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/9b/1011debda8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/9b/b0faa3a5a8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/9e/b0fdd0b1a3ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/a/708e99b1adea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/a7/e094a511b2ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/ab/8068024496ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/ad/a0a7537ca8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/af/f0df3a37abea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/b3/300fb961acea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/b8/604477c3aeea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/b9/503fae1cb1ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/bd/50879b9e9fea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/be/00f4e6f5a3ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/c3/30569af1a3ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/cc/d06bfd45afea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/d2/a01a9a28acea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/de/c0e330659fea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/de/f0d21bcfa8ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/ec/a0f0751ab3ea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/ee/a068b4ddacea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/f7/a06ad260aaea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.history/f9/20ea3e1bacea001417dae37c3dabe34c
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/.indexes/af/history.index
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/.indexes/e4/history.index
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/.markers
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/.markers.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/.syncinfo.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/org.eclipse.jdt.core/state.dat
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/1.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
examples/02-java-basics/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
examples/02-java-basics/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
examples/02-java-basics/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/2807440805.index
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
examples/02-java-basics/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
examples/02-java-basics/.metadata/.plugins/org.eclipse.team.cvs.core/.running
examples/02-java-basics/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
examples/02-java-basics/java-basics/.settings/org.eclipse.core.resources.prefs
examples/00-tests/.metadata/.lock
examples/00-tests/.metadata/.log
examples/00-tests/.metadata/.mylyn/.taskListIndex/segments.gen
examples/00-tests/.metadata/.mylyn/.taskListIndex/segments_1
examples/00-tests/.metadata/.mylyn/.tasks.xml.zip
examples/00-tests/.metadata/.mylyn/repositories.xml.zip
examples/00-tests/.metadata/.mylyn/tasks.xml.zip
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/2/10c9971c73fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/36/70edbaf272fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/4/9037e57c72fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/4b/207faada72fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/69/d00cb24374fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/70/e004edb474fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/84/80140d0974fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/af/90906ef373fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/b0/400dfc1f74fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/b4/808c5d2873fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/b5/101f960d74fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/c4/b049a35f72fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.history/dd/80864bc372fa001413c4ef59c7cf4956
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.projects/Test/.indexes/af/history.index
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.projects/Test/.indexes/e4/history.index
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.projects/Test/.indexes/properties.index
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.projects/Test/org.eclipse.egit.core/GitProjectData.properties
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.projects/Test/org.eclipse.jdt.core/state.dat
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
examples/00-tests/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
examples/00-tests/.metadata/.plugins/org.eclipse.debug.core/.launches/Test.launch
examples/00-tests/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
examples/00-tests/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
examples/00-tests/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/1017853417.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/1045485630.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/115418958.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/1337478678.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/1657330681.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/1787405673.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/2535676096.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/2674037006.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/3045053200.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/323251068.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/355369697.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/3604769962.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/3656756579.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/3716007315.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/3954291735.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/4187470955.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/533208796.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/605290374.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/994834796.index
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
examples/00-tests/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
examples/00-tests/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
examples/00-tests/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
examples/00-tests/.metadata/.plugins/org.eclipse.mylyn.tasks.ui/dialog_settings.xml
examples/00-tests/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
examples/00-tests/.metadata/.plugins/org.eclipse.rse.core/.log
examples/00-tests/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
examples/00-tests/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.chanita-pc_512/FP.local.files_0/node.properties
examples/00-tests/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.chanita-pc_512/H.local_16/node.properties
examples/00-tests/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.chanita-pc_512/node.properties
examples/00-tests/.metadata/.plugins/org.eclipse.rse.ui/.log
examples/00-tests/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
examples/00-tests/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
examples/00-tests/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
examples/00-tests/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
examples/00-tests/.metadata/version.ini
examples/00-tests/RemoteSystemsTempFiles/.project
examples/00-tests/Test/.classpath
examples/00-tests/Test/.gitignore
examples/00-tests/Test/.project
examples/00-tests/Test/.settings/org.eclipse.jdt.core.prefs
examples/00-tests/Test/src/Test.java
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/15/0069c3139ef900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/18/302316009df900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/20/007870109ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/22/60608d4e9cf900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/22/b0cb0733a0f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/25/70baf1be8ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/26/c03e792b9ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/27/006d1df79df900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/2b/30ab063991f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/2c/208cf5938ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/37/5033ca9da2f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/4/a0577b4e9ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/42/50f5973da0f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/43/80aa08fe9df900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/5/20e0fdb98ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/50/00b9652f90f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/65/2028e29da2f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/74/40d0d39da2f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/7c/604282f28ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/7f/20ad24129ef900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/8b/b0e89947a0f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/92/c0a5692e90f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/98/705da70190f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/9a/204a363d9cf900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/a5/7068839092f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/a6/00ec64889bf900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/b8/0056050d9ef900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/c/b06c0bd68ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/c1/50e599e69bf900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/c2/20c68f6da0f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/ca/10dcbb888ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/ca/60872f3290f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/d6/30fa82249ef900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/d8/70bb1cb496f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/dc/606af5f09bf900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/df/2046dd9da2f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/e/303a9ca89df900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/e1/00d0ce3e92f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/e2/40ddfb60a0f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/e6/9090b765a0f900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/e8/406ba9f79bf900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/f/40c5184e9ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/f1/d06254189ef900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.history/f4/2012cff78ff900141b5dab594ed2c3f9
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.projects/dfdczx/.indexes/af/history.index
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.projects/dfdczx/.indexes/properties.index
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.projects/dfdczx/org.eclipse.egit.core/GitProjectData.properties
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.projects/dfdczx/org.eclipse.jdt.core/state.dat
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.projects/PackagesAndAccessModifiers/.indexes/e4/2a/80/e0/history.index
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.projects/Properties/.markers
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.projects/StaticMembers/.indexes/e4/history.index
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.debug.core/.launches/ClassesBasic.launch
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.debug.core/.launches/Constants.launch
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.debug.core/.launches/Inharitance.launch
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.debug.core/.launches/Properties.launch
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.debug.core/.launches/StaticMembers.launch
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.jdt.core/2312498755.index
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.mylyn.tasks.ui/dialog_settings.xml
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
examples/06-classes-and-objects/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
examples/06-classes-and-objects/dfdczx/.classpath
examples/06-classes-and-objects/dfdczx/.gitignore
examples/06-classes-and-objects/dfdczx/.project
examples/06-classes-and-objects/dfdczx/.settings/org.eclipse.jdt.core.prefs
examples/06-classes-and-objects/PackagesAndAccessModifiers/src/soft/intellect/test2/Test.java
