examples/02-java-basics/.metadata/.log
examples/02-java-basics/.metadata/.mylyn/.tasks.xml.zip
examples/02-java-basics/.metadata/.mylyn/tasks.xml.zip
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/.markers.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/java-basics/.syncinfo.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
examples/02-java-basics/.metadata/.plugins/org.eclipse.core.resources/1.snap
examples/02-java-basics/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/2807440805.index
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
examples/02-java-basics/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
examples/02-java-basics/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
examples/02-java-basics/.metadata/version.ini
